# Dict & Set

In [1]:
student_card = {
    'name': 'Denis',
    'year': 2015,
    'core subjects': ('Statistics', 'Algorimthms'),
    'optional subjects': ['Urban Studies', 'Basic Physics'],
    42: 'always the answer',
    (42,): 'always the answer',
}

student_card

{'name': 'Denis',
 'year': 2015,
 'core subjects': ('Statistics', 'Algorimthms'),
 'optional subjects': ['Urban Studies', 'Basic Physics'],
 42: 'always the answer',
 (42,): 'always the answer'}

In [2]:
student_card['surname'] = 'Belyakov'

#### Basic operations

In [3]:
student_card.get('name', 'key is not there')

'Denis'

In [4]:
student_card.get('Name', 'key is not there')

'key is not there'

In [5]:
student_card.get('Name')

In [6]:
student_card['Name']

KeyError: ignored

In [7]:
student_card.pop((42,))

'always the answer'

In [8]:
student_card.pop((42,))

KeyError: ignored

In [9]:
student_card.update({'name': 1, 'b': 2})

In [10]:
student_card

{'name': 1,
 'year': 2015,
 'core subjects': ('Statistics', 'Algorimthms'),
 'optional subjects': ['Urban Studies', 'Basic Physics'],
 42: 'always the answer',
 'surname': 'Belyakov',
 'b': 2}

In [11]:
a = {1: "1", 2: "2"}
b = {2: "b", 3: "3"}

a.update(b)

In [12]:
a

{1: '1', 2: 'b', 3: '3'}

In [14]:
for key in student_card:
    print(key)

name
year
core subjects
optional subjects
42
surname
b

In [15]:
for key in student_card.keys():
    print(key)

name
year
core subjects
optional subjects
42
surname
b

In [16]:
for value in student_card.values():
    print(value)

1
2015
('Statistics', 'Algorimthms')
['Urban Studies', 'Basic Physics']
always the answer
Belyakov
2

In [17]:
for item in student_card.items():
    print(f"{item[0]} : {item[1]}")

name : 1
year : 2015
core subjects : ('Statistics', 'Algorimthms')
optional subjects : ['Urban Studies', 'Basic Physics']
42 : always the answer
surname : Belyakov
b : 2

In [18]:
student_card.clear()

In [19]:
student_card

{}

#### Sample task

Count unique symbols in a string

In [20]:
sample_string = 'Eddie ate dynamite, goodbye Eddie'
symbols = {}
# symbols = {symbol : cnt}

for i in sample_string:
    if i not in symbols:
        symbols[i] = 1
    else:
        symbols[i] += 1

symbols

{'E': 2,
 'd': 6,
 'i': 3,
 'e': 5,
 ' ': 4,
 'a': 2,
 't': 2,
 'y': 2,
 'n': 1,
 'm': 1,
 ',': 1,
 'g': 1,
 'o': 2,
 'b': 1}

In [21]:
sample_string = 'Eddie ate dynamite, goodbye Eddie'
symbols = {}
# symbols = {symbol : cnt}

for i in sample_string:
    symbols[i] = symbols.get(i, 0) + 1

symbols

{'E': 2,
 'd': 6,
 'i': 3,
 'e': 5,
 ' ': 4,
 'a': 2,
 't': 2,
 'y': 2,
 'n': 1,
 'm': 1,
 ',': 1,
 'g': 1,
 'o': 2,
 'b': 1}

In [22]:
from collections import defaultdict

In [24]:
symbols = defaultdict(int)

for i in sample_string:
    symbols[i] += 1

symbols

defaultdict(int,
            {'E': 2,
             'd': 6,
             'i': 3,
             'e': 5,
             ' ': 4,
             'a': 2,
             't': 2,
             'y': 2,
             'n': 1,
             'm': 1,
             ',': 1,
             'g': 1,
             'o': 2,
             'b': 1})

In [25]:
from collections import Counter

In [28]:
counter = Counter(sample_string)
counter

Counter({'E': 2,
         'd': 6,
         'i': 3,
         'e': 5,
         ' ': 4,
         'a': 2,
         't': 2,
         'y': 2,
         'n': 1,
         'm': 1,
         ',': 1,
         'g': 1,
         'o': 2,
         'b': 1})

In [29]:
counter.most_common(3)

[('d', 6), ('e', 5), (' ', 4)]

## Sets

In [30]:
a = ['one', 'two', 'two', 'one']

set(a)

{'one', 'two'}

In [31]:
first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8}

In [32]:
first_set & second_set, first_set.intersection(second_set)

({4, 5}, {4, 5})

In [34]:
first_set | second_set, first_set.union(second_set)

({1, 2, 3, 4, 5, 6, 7, 8}, {1, 2, 3, 4, 5, 6, 7, 8})

In [35]:
second_set - first_set

{6, 7, 8}

Задачка. Дедуплицируем список с сохранением порядка

In [36]:
a = list(range(10000)) + list(range(10000)) + list(range(10000))

In [37]:
%%time

result = []

for elem in a:
    if elem not in result:
        result.append(elem)

CPU times: user 1.36 s, sys: 2.75 ms, total: 1.37 s
Wall time: 1.37 s

In [38]:
%%time

result = []
seen = set()

for elem in a:
    if elem not in seen:
        result.append(elem)
        seen.add(elem)

CPU times: user 7.17 ms, sys: 1.03 ms, total: 8.2 ms
Wall time: 8.15 ms

In [39]:
a = set([1,2,3])

In [40]:
{a : 1}

TypeError: ignored

In [41]:
{frozenset(a) : 1}

{frozenset({1, 2, 3}): 1}

### 2sum

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

In [46]:
from typing import Optional


def solve(arr, target) -> Optional[tuple[int, int]]:
    set_a = set(arr)

    for elem in arr:
        complimentary = target - elem
        if complimentary in set_a:
            return (min(complimentary, elem), max(complimentary, elem))
    return None


a = [-1, -6, -3, 1, 2, 3, 4, 5, 6, 7, 3, 6, 8, 2, 10]
target_sum = 7
solve(a, target_sum)

(-1, 8)

In [47]:
from typing import Optional


def solve(arr, target) -> Optional[tuple[int, int]]:
    set_a = set(arr)

    for elem in arr:
        set_a.remove(elem)
        complimentary = target - elem
        if complimentary in set_a:
            return (min(complimentary, elem), max(complimentary, elem))
    return None


a = [-1, 3, 2]
target_sum = 4
solve(a, target_sum)

In [48]:
# [1,2,3,4,5,6,7,8,9]
# target = 13

# [2,3,4,5,6,7,8,9]
# 2, [3,4,5,6,7,8,9]
# 3, [4,5,6,7,8,9]
# ...

In [49]:
# a = [a_i]
# target
# i: a_i -> target - a_i \in a
# find(target - a_i) - O(1)
# -> set(a) -> find = O(1)

### Сумма цифр числа рекурсией

Дано число произвольного размера. Посчитайте рекурсивно сумму его цифр

In [51]:
a = 1234567890

def solve(num: int) -> int:
    return 0 if num == 0 else num % 10 + solve(num // 10)

### Run-Length Encoding

RLE -- это один из алгоритмом сжатия последовательностей.

Пусть у вас есть строка `aaaaaabbbcbbdddeea`, ее можно представить в виде [(a, 6), (b, 3), (c, 1), (b, 2), (d, 3), (e, 2), (a, 1)]

In [54]:
a = "aaaaaabbbcbbdddeea"
Counter(a)

Counter({'a': 7, 'b': 5, 'c': 1, 'd': 3, 'e': 2})

In [59]:
def encode_rle(s: str) -> list[tuple[str, int]]:
    if not s:
        return []
    result = []
    k = 0

    for i in range(1, len(s)):
        if s[i] != s[i - 1]:
            result.append((s[i - 1], i - k))
            k = i
    result.append((s[-1], len(s) - k))

    return result

In [60]:
a = "aaaaaabbbcbbdddeeaaaa"
encode_rle(a)

[('a', 6), ('b', 3), ('c', 1), ('b', 2), ('d', 3), ('e', 2), ('a', 4)]

### Уникальные слова в тексте

Вывести самые популярные слова в тексте и их количество

In [65]:
sample_text = """The secret menu reveals a business model that goes
beyond a right to repair issue, Sullivan argues.
It represents, as he describes it, nothing short
of a milkshake shakedown: Sell franchisees a complicated and fragile machine.
Prevent them from figuring out why it constantly breaks.
Take a cut of the distributors’ profit from the repairs.
“It’s a huge money maker to have a customer that’s purposefully,
intentionally blind and unable to make very fundamental changes to
their own equipment,” Sullivan says. And McDonald’s
presides over all of it, he says,
insisting on loyalty to its longtime supplier.
(Resist the McDonald’s monarchy on decisions like equipment, and
the corporation can end a restaurant’s lease
on the literal ground beneath it,
which McDonald's owns under its franchise
agreement.)"""


Counter([x for x in sample_text.lower().split() if len(x) > 1]).most_common(1)

[('the', 6)]

### Общие элементы двух списков (однострочник)

Даны списки a и b. Вывести общие элементы в них

In [66]:
a = [1, 2, 3, 4, 7, 8, 9, 7, 7]
b = [5, 4, 6, 7, 10, 11, 12, 7, 7]

set(a) & set(b)

{4, 7}

In [67]:
# # вывести элементы + их кол-во

# answer = []

# for elem in a:
#     if elem in b:
#         b.remove(elem)
#         answer.append(elem)

In [69]:
counter_a = Counter(a)
counter_b = Counter(b)

answer = []

for key in counter_a:
    if key in counter_b:
        answer.append((key, min(counter_a[key], counter_b[key])))

answer

[(4, 1), (7, 3)]

### Номер появления слова


Дан список из слов. Получить список с их номерами по порядку их появления.


```
word_list = ['two', 'one', 'three', 'three', 'two', 'three']
fun(word_list) -> [1, 1, 1, 2, 2, 3]
```

In [70]:
word_list = ['two', 'one', 'three', 'three', 'two', 'three']

result = defaultdict(int)
answer = []

for elem in word_list:
    result[elem] += 1
    answer.append(result[elem])

answer

[1, 1, 1, 2, 2, 3]

### Непрерывный массив суммой N


Дано: некоторый массив целых чисел и число N

Задача: Найти непрерывный подмассив, сумма элементов которого равна N. И вывести длину подмассива. Если таких несколько, то вывести максимальную длину. Если не существует, то вывести 0

```
Пример:

1.
Дано: [1, 2, 3, 4, -1, 2, -1, 4, 0], N = 4
Подмассивы с суммой 4: [4], [4, -1, 2, -1], [-1, 2, -1, 4, 0]
Ответ: 5

2.
Дано: [1, 2, 3], N = 10
Ответ: 0
```

In [71]:
# как модифицировать массив A, чтобы уметь быстро отвечать на вопросы вида
# sum(A[i:j]) за O(1) ?


# A -> B = [sum(A[0]), sum(A[0], A[1]), sum(A[0], A[1], A[2]) ....]
# i:j (j > i) ->
# B[j] = sum(A[0], A[1], ..., A[j])
# B[i] = sum(A[0], A[1], ..., A[i])
# B[j] - B[i] = sum(A[0], A[1], ..., A[j]) - sum(A[0], A[1], ..., A[i]) = sum(A[i + 1], A[i + 2], ..., A[j])
# i:j -> B[j] - (B[i - 1] if i - 1 >= 0 else 0)

In [72]:
from itertools import accumulate

In [77]:
arr = [1, 2, 3, 4, -1, 2, -1, 4, 0]

In [79]:
list(accumulate(arr, lambda x, y: x + y))

[1, 3, 6, 10, 9, 11, 10, 14, 14]

In [80]:
list(accumulate(arr))

[1, 3, 6, 10, 9, 11, 10, 14, 14]

In [81]:
def solve_sum_quadratic(arr, n):
    prefix_sum = list(accumulate(arr))
    max_len = 0
    max_left_bound = -1
    max_right_bound = -1

    for i, acc in enumerate(prefix_sum):
        for j in range(i + 1, len(prefix_sum)):
            # sum(arr[i:j])
            sum_ij = prefix_sum[j] - (prefix_sum[i - 1] if i > 0 else 0)
            if sum_ij == n:
                if max_len < j - i:
                    max_len = j - i
                    max_left_bound = i
                    max_right_bound = j
    return (max_left_bound, max_right_bound)

In [87]:
arr = [1, 2, 3, -4, -1, 2, -1, 4, 0]

In [88]:
solve_sum_quadratic(arr, 0)

(3, 8)